@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /*FONT*/
  --ds-font-one: 'DM Serif Display';
  --ds-font-two: 'Kanit';
  --ds-font-three: 'Permanent Marker';
  --ds-font-four: 'Dancing Script';

  /*COLOR*/
  --ds-color-primary: #000000;
  --ds-color-secondary: #ffffff;
  --ds-color-tertiary: #006d77;

  /*BACKGROUND*/
  --ds-background-primary: #006d77;
  --ds-background-secondary: #edf6f9;
  --ds-background-tertiary: #83c5be;

  /*MARGIN*/
  --ds-margin-xxs: 5px;
  --ds-margin-xs: 10px;
  --ds-margin-s: 20px;
  --ds-margin-m: 30px;
  --ds-margin-l: 40px;
  --ds-margin-xl: 50px;
  --ds-margin-xxl: 60px;

  /*PADDING*/
  --ds-padding-none: 0;
  --ds-padding-xxs: 5px;
  --ds-padding-xs: 10px;
  --ds-padding-s: 20px;
  --ds-padding-m: 30px;
  --ds-padding-l: 40px;
  --ds-padding-xl: 50px;
  --ds-padding-xxl: 60px;

  /*GAP*/
  --ds-gap-xxs: 5px;
  --ds-gap-xs: 10px;
  --ds-gap-s: 15px;
  --ds-gap-m: 20px;
  --ds-gap-l: 25px;
  --ds-gap-xl: 30px;
  --ds-gap-xxl: 35px;

  /*BORDER*/
  --ds-border-xxs: 5px;
  --ds-border-xs: 10px;
  --ds-border-s: 15px;
  --ds-border-m: 20px;
  --ds-border-l: 25px;
  --ds-border-xl: 30px;
  --ds-border-xxl: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  color: var(--ds-color-primary);
  /* background: linear-gradient(180deg, #edf6f9 0%, #006d77 100%); */
  /* width: fit-content; */
}

main {
  display: flex;
  flex-direction: column;
}

section {
  background: linear-gradient(180deg, #edf6f9 0%, #006d77 100%);
}

html {
  scroll-behavior: smooth;
}


/* MEDIA QUERIES */

@media (width <= 1441px) {
  body {
    width: 100%;
    height: 100%;
    color: var(--ds-color-primary);
    min-width: fit-content;
  }
}