#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1050px;
  cursor: default;
  padding-top: var(--ds-padding-xl);
}

.title-projects {
  border: var(--ds-border-xxs) solid var(--ds-color-primary);
  margin: 75px 0px 40px 0px;
  padding: 15px 70px;
  font-family: var(--ds-font-one);
  letter-spacing: 10px;
}

#cards-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: var(--ds-margin-xl);
  gap: 50px;
}


/* MEDIA QUERIES */

@media (width <= 470px) {
  #cards-projects {
    margin: 0 20px;
    gap: 50px;
  }

  .title-projects {
    padding: 15px 15px;
  }
}