#presentation {
  display: flex;
  height: 1050px;
}

/* MEDIA QUERIES */

@media (width <= 1025px) {
  #presentation {
    height: 1150px;
  }
  
@media (width <= 1165px) {
  #presentation {
    justify-content: center;
    flex-wrap: wrap;
    height: 1350px;
  }
}
}