#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  padding-top: var(--ds-padding-xl);
}

.title-experience {
  border: var(--ds-border-xxs) solid var(--ds-color-primary);
  margin: 75px 0px 60px 0px;
  padding: 15px 70px;
  font-family: var(--ds-font-one);
  letter-spacing: 8px;
}

.title-training {
  display: flex;
  margin-bottom: var(--ds-margin-xl);
}

.title-work-experience {
  display: flex;
  margin: 75px 0px 50px 0px;
}


/* MEDIA QUERIES */

@media (width <= 470px) {
  .title-experience {
    padding: 15px 15px;
  }
}