#header {
  background: -webkit-linear-gradient(360deg, #edf6f9 0%, #006d77 100%);
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
}

.ul-nav-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: var(--ds-margin-l);
  margin-left: 50%;
  list-style: none;
}


/* MEDIA QUERIES */

@media (width <= 1465px) {
  .ul-nav-header {
    margin-left: 30%;
  }
}
@media (width <= 1165px) {
  .ul-nav-header {
    justify-content: center;
    margin-left: 0;
  }
}

@media (width <= 850px) {
  #nav-bar {
    display: none;
  }
}