#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  background: -webkit-linear-gradient(90deg, #edf6f9 0%, #006d77 100%);
  padding: var(--ds-margin-xxl) 0px;
  gap: var(--ds-gap-l);
}

.h3-footer {
  margin: var(--ds-margin-xs) 0px;
  cursor: default;
}

a > .img-email {
  width: 40px;
  height: 40px;
  transition: all 1s;
}

a > .img-github {
  width: 40px;
  height: 40px;
  transition: all 1s;
}

a > .img-linkedin {
  width: 40px;
  height: 40px;
  transition: all 1s;
}

.img-email:hover, .img-github:hover, .img-linkedin:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}

.link-email, .link-github, .link-linkedin {
  width: 50px;
  height: 50px;
  transition: all 1s;
}

.ul-footer {
  display: flex;
  justify-content: space-around;
}

.ul-footer > li {
  margin: 0px var(--ds-margin-l);
}


/* MEDIA QUERIES */

@media (width <= 470px) {
  .ul-footer > li {
    margin: 0px var(--ds-margin-xs);
  }
}